* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
}

header {
  display: flex;
  justify-content: center;
}

input {
  margin: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

input:focus {
  outline:1px solid #43ad86;
}

#root {
  padding: 15px;
}

.canvas {
  display: grid;
  place-items: center;
}

.output {
  min-width: 320px;
  height: 320px;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow-y: auto;
}

.row {
  display: flex;
}

.dot {
  color: #f2f2f2;
  text-align: center;
  padding: 8px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  margin: 25px auto;
  max-width: 655px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.switch-draw {
  display: flex;
  gap: 5px;
}

button {
  color: #f2f2f2;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.generate-btn {
  background: #43ad86;
}

.clear-btn {
  background: #cb3b48;
}

.copy-btn {
  background: #438ead;
}

.dm-dots-btn, .dm-line-btn {
  display: grid;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: #000;
  background: #fff;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  border: 1px solid #ccc;
}

.dm-dots-btn.active, .dm-line-btn.active {
  fill: #fff;
  color: #fff;
  background: #73739b;
}

.dm-dots-btn.active , .dm-line-btn.active svg {
  fill: #fff;
}

